# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'
install:
  ps: Bootstrap

# cache:
#   - C:\RLibrary

# Adapt as necessary starting from here
environment:
  matrix:
    - R_VERSION: release
      R_ARCH: x64
      R_REMOTES_STANDALONE: true
      USE_RTOOLS: true

    - R_VERSION: release
      R_ARCH: i386
      R_REMOTES_STANDALONE: true
      USE_RTOOLS: true      
      
#   - R_VERSION: devel
#     R_ARCH: x64
#     R_REMOTES_STANDALONE: true
#     USE_RTOOLS: true
      
#   - R_VERSION: devel
#     R_ARCH: i386
#     R_REMOTES_STANDALONE: true
#     USE_RTOOLS: true
      
    - R_VERSION: oldrel
      R_ARCH: x64
      R_REMOTES_STANDALONE: true
      USE_RTOOLS: true
      
    - R_VERSION: oldrel
      R_ARCH: i386
      R_REMOTES_STANDALONE: true
      USE_RTOOLS: true
      
build_script:
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits

notifications:
  - provider: Email
    to:
    - jones@biology.sdu.dk
    subject: 'Rcompadre: r-appveyor build {{status}}'
    message: "https://ci.appveyor.com/project/jonesor/RCompadre"
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: true